---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import BlogCard from "../components/BlogCard.astro";
import BlogCardTop from "../components/BlogCardTop.astro";
import Infographics from "./infographics.astro";
import data  from "../content.ts";
import SmallNav from "../components/SmallNav.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// let posts = [

// ];

// console.log(data[0].title);

// for (let i = 0; i < (data.length < 3 ? data.length : 3); i++) {
//   posts[i] = data[i];
//   posts[i].coverPath = `http://localhost:1337${posts[i].cover.url}`;
//   console.log(posts[i].coverPath);
// }

let navLinks = [
  { href: '/', text: 'Home' },
  { href: '/about', text: 'About' },
  { href: '/projects', text: 'Projects' },
  { href: '/contact', text: 'Contact' },
];

let posts = [
  {
    title: "The Science of Sleep",
    coverPath: "image.png",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    titleColor: "text-josefin-800",
    slug: "the-science-of-sleep",
  },
  {
    title: "The Science of Sleep",
    coverPath: "image.png",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    titleColor: "text-josefin-800",
    slug: "the-science-of-sleep",
  },
  {
    title: "The Science of Sleep",
    coverPath: "image.png",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    titleColor: "text-josefin-800",
    slug: "the-science-of-sleep",
  },
]
let infographics = [
  {
    title: "The Science of Sleep",
    path: "info-1.jpeg",
  },
  {
    title: "The Science of Sleep",
    path: "infographic.jpeg",
  },
  {
    title: "The Science of Sleep",
    path: "image.png",
  },
];
---

<Layout>
  <div class="bg-viola h-fit">
    <ResponsiveNav links={navLinks}/>
    <div class="w-full h-full text-center align-middle p-14">
      <img src="hero-img.svg" alt="The Science Box Logo" class="m-auto" />
    </div>
  </div>
  <div class=" h-fit bg-repeat py-12">
    <div class="bg-santra p-4 outline-2 text-center align-middle">
      <div
        class="text-2xl lg:text-4xl text-josefin-800 font-bold tracking-[0.3em]"
      >
        MUST READ ARTICLES
      </div>
      <div class="text-sm lg:text-xl text-josefin-400 tracking-widest">
        writing the mysteries of science—blending curiosity, reason, and a touch
        of overthinking.
      </div>
    </div>

    <div class="mt-2 text-center m-auto lg:flex flex-wrap">
      <div class="lg:flex cols-3">
        {
          posts.map((post) => (
            <div class="mb-6 md:w-2/3 m-4 md:m-auto lg:w-1/3">
              <BlogCard
                title={post.title}
                heroImagePath={post.coverPath}
                description={post.description}
                titleColor={post.titleColor}
                slug={post.slug}
              />
            </div>
          ))
        }
      </div>
    </div>
    <div class="text-end w-parent py-6 px-12">
      <a
        href=""
        class="p-4 m-auto text-josefin-400 text-2xl bg-pinky border-2 hover:bg-skyede hover:border-3 duration-200"
        ><span class="tracking-widest text-josefin-800">Read More</span></a
      >
    </div>
  </div>

  <div class=" h-fit bg-repeat py-12">
    <div class="bg-yellow p-4 outline-2 text-center align-middle">
      <div
        class="text-2xl lg:text-4xl text-josefin-800 font-bold tracking-[0.3em]"
      >
        INFOGRAPHICS
      </div>
      <div class="text-sm lg:text-xl text-josefin-400 tracking-widest">
        visual insights, because sometimes pictures explain it better than
        words!
      </div>
    </div>
    <div class="px-18 pt-12">
      <div class="mt-2 text-center m-auto lg:flex flex-wrap">
        {
          infographics.map((infographic) => (
            <div class="mb-6 md:w-2/4 h-2/5 md:m-auto lg:w-1/3  gap-0.5">
              <img
                src={infographic.path}
                alt={infographic.title}
                class=" outline-1 mx-2 w-full h-auto shadow-md"
              />
            </div>
          ))
        }
      </div>
    </div>
    <div class="text-end w-parent py-6 px-12">
      <a
        href="/infographics"
        class="py-4 px-6 m-auto text-josefin-400 text-2xl bg-emer border-2 hover:bg-skyede hover:border-3 duration-200"
        ><span class="tracking-widest text-josefin-800">See More</span></a
      >
    </div>
  </div>

  <div class=" h-fit bg-repeat py-12">
    <div class="bg-skyede p-4 outline-2 text-center align-middle">
      <div
        class="text-2xl lg:text-4xl text-josefin-800 font-bold tracking-[0.3em]"
      >
        ABOUT US
      </div>
      <div class="text-sm lg:text-xl text-josefin-400 tracking-widest">
        we are a team of science enthusiasts, who love to share the wonders of
        science with the world.
      </div>
    </div>
    <div class="px-18 pt-12">
      <div class="mt-2 text-center m-auto">
        <div class="mb-6 md:w-2/4 h-2/5 md:m-auto lg:w-1/3 gap-0.5">
          <img
            src="image.png"
            alt="The Science Box Team"
            class="outline-1 mx-2 w-full h-auto shadow-md"
          />
        </div>

        <div class="text-2xl/12 text-josefin-400 w-2/3 text-center m-auto p-6">
          We're a team of curious minds—Iffat, Dheera, Saisha, Amaira and Aarush—on a mission to make science fun, simple, and exciting. From black holes to coffee chemistry, we break down big ideas into bite-sized articles and infographics for everyone to enjoy.
        </div>
      </div>
    </div>
    <div class="text-end w-parent py-6 px-12">
      <a
        href="/about"
        class="py-4 px-6 m-auto text-josefin-400 text-2xl bg-yellow border-2 hover:bg-skyede hover:border-3 duration-200"
        ><span class="tracking-widest text-josefin-800">Learn More</span></a
      >
    </div>
  </div>

  <div class=" h-fit bg-repeat p-12 pb-16">
    <div
      class="w-4/7 h-fit bg-emer p-6 outline-2 hover:rotate-1 duration-300 ease-in-out"
    >
      <div
        class="text-2xl lg:text-4xl text-josefin-800 font-bold tracking-[0.2em]"
      >
        Something to Say?
      </div>
      <div class="text-xl/12 tracking-widest text-josefin-400 my-6">
        Got something to say? We’d love to hear it—whether it’s a deep dive or a
        random thought, send it our way, and we might just publish it.
      </div>
      <div class="text-end w-parent py-3">
        <a
          href="mailto:the.science.boxx@gmail.com"
          class="px-8 py-4 text-josefin-400 text-2xl bg-santra border-2 hover:bg-pinky hover:border-3 duration-200"
          ><span class="tracking-[0.2em] text-josefin-800">Contribute</span></a
        >
      </div>
    </div>
  </div>

  <div class="w-screen h-fit p-2 bg-pinky text-josefin-600 text-center">
    <div class="text-2xl">© THE SCIENCE BOX</div>
  </div>
</Layout>
