---
import type { GetStaticPaths } from "astro";
import  data  from '../../content';

const { slug } = Astro.params;
export const getStaticPaths = (() => {
    const paths = [];
    for (const article of data) {
        paths.push({ params: { slug: article.slug } });
    }
    console.log(paths);
    return paths;
}) satisfies GetStaticPaths;


let article;
for (const articlecont of data) {
    if (articlecont.slug === slug) {
           article=articlecont;
    }
}

if (!article) {
    throw new Error(`Article with slug "${slug}" not found.`);
}
---

<html>
    <head>
        <title>{article.title}</title>
    </head>
    <body>
        <article>
            <h1>{article.title}</h1>
            <p><em>By {article.author} on {article.date}</em></p>
            <div>{article.content}</div>
        </article>
    </body>
</html>