---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ResponsiveNav from '../../components/ResponsiveNav.astro';
import { navLinks } from '../../utils/navLinks';
import ArticleLayout from '../../layouts/ArticleLayout.astro';

export async function getStaticPaths() {
  const infographics = await getCollection('infographics');
  return infographics.map((infographic) => ({
    params: { slug: infographic.slug },
    props: { infographic },
  }));
}

const { infographic } = Astro.props;
const { Content } = await infographic.render();
---
<ArticleLayout title={infographic.data.title}>

        <div class="flex justify-center mb-4">
          <p class="md:text-xl text-center text-josefin-400 text-slate-600 w-screen">
            {infographic.data.description}
          </p>
        </div>

        <div class="max-w-4xl mx-auto px-4">
          <img
            src={infographic.data.image}
            alt={infographic.data.title}
            class="w-full h-auto object-cover">
        </div>

        <div class="flex justify-center mb-4">
          <p class="text-lg text-slate-600">By {infographic.data.author}</p>
</ArticleLayout> 
