---
// Define props for the component
export interface Props {
  title: string;
  slug: string;
  description?: string;
  titleColor: string;
  titleImage?: string;
  author?: string;
}

const { slug, title, titleImage, description, titleColor, author } = Astro.props;
---

<div class="bg-white border-3 text-center w-3/4 mt-12 m-auto hover:shadow-xl hover:scale-x-105 hover:duration-300">
  <div class="m-auto lg:flex text-center w-parent">
  {titleImage && (
    <h2 class="min-w-[400px] max-w-[400px]">
      <img
        src={titleImage}
        alt={title}
        class="outline-2 hidden  lg:inline text-center m-auto w-full h-full object-cover"
      />
    </h2>
  )}
  <div class="text-center max-w-parent">
    <div class="max-w-parent m-auto">
      <div
        class={`text-xl md:text-3xl text-left text-josefin-800 p-6 bgstff`}
        style={` `}
      >
        {title}
      </div>
      {author && (
        <div class="px-6 mb-4 text-left text-josefin-800 text-slate-600">
          <p class="text-lg">By {author}</p>
        </div>
      )}
      <div class="px-6 w-parent">
        {description && (
          <p
            class="text-lg/12 w-full text-left text-josefin-400 text-slate-600 m-auto"
          >
            {description}
          </p>
        )}
        <div class="text-left group">
          <a href={slug} class="text-lg duration-300 text-josefin-600">
            <img
              src="butt.svg"
              class="py-4 hover:rotate-90 duration-200 hover:scale-105"
            /></a
          >
        </div>
      </div>
    </div>
  </div>

</div>
</div>
